# Don't track these directories
runs/
mlruns/
output/
data/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Models
*.pth
*.tar

# Mac OS-specific storage files
.DS_Store

# Other
__pycache__/
pipeline.sh